{% extends "base.html" %}

{% block title %}СЕРВІС ПОШУКУ ПРАЦІВНИКІВ{% endblock %}
{% block description %}Різноробочі, підсобники, вантажники у Вашому місті. Знайдіть працівників або роботу з щоденним розрахунком за допомогою нашого сервісу!{% endblock %}
{% block keywords %}робота, працівники, різноробочі, підсобники, вантажники, пошук роботи, Україна, robochi.work{% endblock %}
{% block author %}robochi.work{% endblock %}
{% block canonical %}https://robochi.work/{% endblock %}

{% block og_title %}СЕРВІС ПОШУКУ ПРАЦІВНИКІВ{% endblock %}
{% block og_description %}Різноробочі, підсобники, вантажники у Вашому місті. Знайдіть працівників або роботу з щоденним розрахунком за допомогою нашого сервісу!{% endblock %}
{% block og_url %}https://robochi.work/{% endblock %}

{% block twitter_title %}СЕРВІС ПОШУКУ ПРАЦІВНИКІВ{% endblock %}
{% block twitter_description %}Різноробочі, підсобники, вантажники у Вашому місті. Знайдіть працівників або роботу з щоденним розрахунком за допомогою сервісу!{% endblock %}

{% block content %}
<main class="page">
  
  <a id="how-btn" class="how-btn" href="{% url 'how' %}?from=home">Як це працює?</a>

  <div class="big-buttons">
    <a class="big-btn" href="{% url 'need_telegram' 'employer' %}?from=home">
      <span class="line1">Я РОБОТОДАВЕЦЬ</span>
      <span class="line2">шукаю працівників</span>
    </a> 

    <a class="big-btn" href="{% url 'need_telegram' 'worker' %}?from=home">
      <span class="line1">Я ПРАЦІВНИК</span>
      <span class="line2">шукаю роботу</span>
    </a>
  </div>

  <div class="bottom-link">
    <a id="policy-link" href="{% url 'policy' %}?from=home">Договір оферти та Політика конфіденційності</a>
  </div>

</main>
{% endblock %}
